// Definizione dei colori
$col-scuola: (
    "infanzia": #f4f442,
    "primaria": #f2c924,
    "primogrado": #f45a4c,
    "secondogrado": #e34665,
);

$col-tutti: (
    "altro": #8dee4d,
    "animazione": #48c9ea,
    "formazione": #4ef073,
    "lezioni": #59ecbd,
);

// Definizione dell'ordine negli elenchi
$ord-scuola: (
    "infanzia": 1,
    "primaria": 2,
    "primogrado": 3,
    "secondogrado": 4,
);

$ord-tutti: (
    "animazione": 1,
    "lezioni": 2,
    "formazione": 3,
    "altro": 4,
);


