$header-height: 3cm;
$footer-height: 2cm;

// A4 pages, no margins
@page {
    margin: 0cm;
    size: A4;
}

// Remove margins around body, removing white spaces on the left
body {
    margin: 0cm;
}

section.page {
    // Ensure each .page is separate
    page-break-before: always;
    // Remove margin used in screen
    margin: 0cm;
}

/*
.extra-symbol {
    border: 1px solid red;
    position: absolute;
    bottom: 0cm;
    right: 0cm;
    width: 3.5cm;
    height: 2cm;
}
*/
