{{ partial "header.html" . }}

<section id="activity" class="contContainer">
	<div class="content activities">
		<div class="hsplit">
		<a href="/activity/altro" class="activity-group altro">
			<h2>#math</h2>
			<img src="/images/activities/copertine/altre.png" alt="Un mondo con i numeri">
			<div class="description">
				<p>Alcune tra le nostre iniziative per contribuire alla diffusione della matematica nel mondo (reale e virtuale) con divertimento e simpatia.</p>		</div>
		</a>
		<a href="/activity/animazione" class="activity-group animazione">
			<h2>Animazione matematica</h2>
			<img src="/images/activities/copertine/animazione.png" alt="Foto del gruppo M3">
			<div class="description">
				<p>Occasioni per giocare e divertirsi, rivolte a tutti: dai più piccoli al pubblico adulto, per affrontare la matematica da un nuovo punto di vista.</p>		</div>
		</a>
		<a href="/activity/incontri" class="activity-group incontri">
			<h2>Incontri con la matematica</h2>
			<img src="/images/activities/copertine/incontri.png" alt="Foto del gruppo C2">
			<div class="description">
				<p>Conferenze informali, rivolte agli studenti della scuola superiore e al grande pubblico per fornire spunti, approfondimenti e curiosità.</p>		</div>
		</a>
		<a href="/activity/percorsi" class="activity-group percorsi">
			<h2>Percorsi per le scuole</h2>
			<img src="/images/activities/copertine/percorsi.png" alt="Foto del gruppo R1">
			<div class="description">
				<p>Laboratori dedicati alle classi scuola dell’infanzia, primaria e secondaria per approfondire argomenti del programma scolastico (ma non solo!) coinvolgendo tutti gli alunni.</p>		</div>
		</a>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}

