<!--div>
    {{ __tera_context }}
</div-->
<div class="gallery">
    <div class="galleria">
        {% for asset in page.assets %}
            {% if asset is matching("[.](jpg|jpeg|png|gif)$") %}
                <img src="{{ get_url(path=asset) }}" />
            {% endif %}
        {% endfor %}
    </div>
    <script>
        (function() { 
            Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria');
        }());
    </script>
</div>
