<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/volantino-print.css") | safe }}" media="print" />
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/volantino-screen.css") | safe }}" />
    </head>
    <body>
        <!-- {{ __tera_context }} -->

        <!-- Pagina di titolo -->
        <section class="page">
        {{ section.content | safe }}
        </section>
        <!-- Pagine di apertura del volantino -->
        {% for page in section.pages %}
        <section class="page">
        {{ page.content | safe }}
        </section>
        {% endfor %}

        <!-- Pagine activity -->
        {% set target = get_section(path=section.extra.join_target) %}
        <!--pre>{ { target | json_encode(pretty=true) | safe } }</pre-->

        {# iterate every subsection in the target section #}
        {% for ssect in target.subsections %}
        {% set subsection = get_section(path=ssect) %}

        {# if the subsection has pdf activated #}
        {% if subsection.extra.pdf.enable %}
        {% for spage in subsection.pages %}
        {% set in_volantino = true %}
        <section class="page">
            <div class="page-header {{ subsection.extra.pdf.header.class }}"><span>{{ subsection.extra.pdf.header.text }}</span></div>
            <div class="page-content">
                {% if spage.extra.title_logo_left %}
                <h1><img src="{{ get_url(path=spage.extra.title_logo_left) }}" />{{ spage.title }}</h1>
                {% else %}
                <h1>{{ spage.title }}</h1>
                {% endif %}
                {% if spage.extra.price %}
                <p>{{ spage.extra.price }}</p>
                {% endif %}
                <p>{{ spage.content | safe }}</p>
            </div>
            <div class="page-footer"><div class="page-number"><span>{{ loop.index + 1 }}</span></div></div>
        </section>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </body>
</html>
