<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/volantino-screen.css") | safe }}" />
        <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/volantino-print.css") | safe }}" media="print" />
    </head>
    <body>
        {# itera tutte le pagine con tassonomia volantino #}
        {% for page in term.pages | sort(attribute="extra.volantino.weight") %}
            {% if page.extra.volantino.raw %}
                {{ page.content | safe }}
            {% else %}
                <section class="page standard">
                    {# determina lo stile dell'header #}
                    {% if page.extra.volantino.header[term.name].style %}
                        {% set header_class = page.extra.volantino.header[term.name].style %}
                    {% elif page.extra.volantino.header.style %}
                        {% set header_class = page.extra.volantino.header.style %}
                    {% else %}
                        {% set header_class = term.name %}
                    {% endif %}
                    {# se nella pagina c'é un header[ciclo].text viene usato quello #}
                    {% if page.extra.volantino.header[term.name].text %}
                        <div class="page-header {{ header_class }}">
                            <span>{{ page.extra.volantino.header[term.name].text }}</span>
                        </div>
                    {% elif page.extra.volantino.header.text %}
                        <div class="page-header {{ header_class }}">
                            <span>{{ page.extra.volantino.header.text }}</span>
                        </div>
                    {# altrimenti usa il titolo generico a seconda del volantino #}
                    {% else %}
                        <div class="page-header {{ header_class }}">
                            <span>{{ config.extra.taxonomies[taxonomy.name][term.name].header.text }}</span>
                        </div>
                    {% endif %}

                    <div class="page-content">
                        <h1 class="ico ico-logo">{{ page.title }}</h1>

                        <img class="page-image" src="{{ get_url(path=page.extra.image) | safe }}" />

                        <p>{{ page.content | safe }}</p>

                        <div class="page-meta footer">
                            <ul>
                                {% for meta_key, meta_value in page.extra.volantino.meta %}
                                    <li><strong class="{{ meta_key }}">{{ meta_value.0 }}</strong><span>{{ meta_value.1 }}</span></li>
                                {% endfor %}
                            </ul>
                            {% if page.extra.volantino.online %}
                            <div class="extra-symbol">
                                <img src="{{ get_url(path="/images/icone/online.png") | safe }}" alt="Icona online" />
                                <div>Anche online!</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="page-footer"><div class="page-number {{ header_class }}">
                        <span>{{ loop.index }}</span>
                    </div></div>
                </section>
            {% endif %}
        {% endfor %}
    </body>
</html>
