ErrorDocument 404 /404.html

Redirect /concorso_estivo http://pigreco.luogoideale.org/concorso-estivo
Redirect /concorso_estivo_laboratori http://pigreco.luogoideale.org/concorso-estivo-laboratori

# Redirect pigreco. -> www. unsure if it's working
# RewriteEngine On
# RewriteCond %{HTTP_HOST} ^pigreco\.luogoideale\.org$ [NC]
# RewriteRule ^https://www.luogoideale.org%{REQUEST_URI} [L,R=301]
